In [26]:
import subprocess

first_run=387124
last_run=387124

command = f'c:/programowanie/python-analyses/venv/Scripts/python.exe c:/programowanie/python-analyses/ALPACA/applications/alpaca_to_database.py --first_run {first_run} --last_run {last_run}'

        # Execute the command and capture the output

result = subprocess.run(command, stdout=subprocess.PIPE, stderr=subprocess.PIPE, check=True)
print(result.stdout.decode())
print(result.stderr.decode())

No datasets available! Starting to generate.

Run_Number_Run_Number___value               captorius3_acq_0_Channel_2_SSPALS_Y_[V]_t   captorius3_acq_0_Channel_2_SSPALS_Y_[V]_V
387124                                      [0.000000                                   [-0.0005

Loading 1 files from raw to bronze: 1it [00:05,  5.74s/it]
Making Bronze to Silver.: 100%|██████████| 1/1 [00:00<00:00, 20.25it/s]
Making Silver to Gold.: 100%|██████████| 1/1 [00:01<00:00,  1.11s/it]
Loading datasets: 1it [00:00, 31.98it/s]

In [59]:
first_run=387115
last_run=387124
df, columns_dic = fetch_data()

['SC56_coinc event_clock', '5TCCD acq_2 background_corrected img_with_roi', 'captorius3 acq_0 Channel_2_SSPALS Y_[V] t', 'captorius3 acq_0 Channel_2_SSPALS Y_[V] V']
['SC56_coinc event_clock_shape', '5TCCD acq_2 background_corrected img_with_roi_shape', 'captorius3 acq_0 Channel_2_SSPALS Y_[V] t_shape', 'captorius3 acq_0 Channel_2_SSPALS Y_[V] V_shape']

In [65]:
df.dtypes

SC56_coinc event_clock                                      object
SC56_coinc event_clock_shape                                object
5TCCD acq_2 background_corrected img_with_roi               object
5TCCD acq_2 background_corrected img_with_roi_shape         object
1TCMOS acq_0 background_corrected roi signal_sum_in_roi    float64
ELENA_Parameters H_offset_mm                               float64
ELENA_Parameters V_offset_mm                               float64
ELENA_Parameters H_angle_mrad                              float64
ELENA_Parameters V_angle_mrad                              float64
captorius3 acq_0 Channel_2_SSPALS Y_[V] t                   object
captorius3 acq_0 Channel_2_SSPALS Y_[V] t_shape             object
captorius3 acq_0 Channel_2_SSPALS Y_[V] V                   object
captorius3 acq_0 Channel_2_SSPALS Y_[V] V_shape             object
dtype: object

In [66]:
import pandas as pd
import numpy as np
def serialize_df(df):
    # Convert NumPy arrays with nan to lists
    for column in df.columns:
        if df[column].dtype == object and df[column].apply(type).eq(np.ndarray).any():
            df[column] = df[column].apply(lambda arr: arr.tolist() if isinstance(arr, np.ndarray) else arr)

    # Convert DataFrame to JSON string
    json_str = df.to_json(orient='split')
    return json_str

def deserialize_df(json_str):
    # Convert JSON string back to DataFrame
    df = pd.read_json(json_str, orient='split')

    # Convert lists back to NumPy arrays
    for column in df.columns:
        df[column] = df[column].apply(np.array)

    return df

In [68]:
ser=serialize_df(df)
deser=deserialize_df(ser)
deser

,SC56_coinc event_clock,SC56_coinc event_clock_shape,5TCCD acq_2 background_corrected img_with_roi,5TCCD acq_2 background_corrected img_with_roi_shape,1TCMOS acq_0 background_corrected roi signal_sum_in_roi,ELENA_Parameters H_offset_mm,ELENA_Parameters V_offset_mm,ELENA_Parameters H_angle_mrad,ELENA_Parameters V_angle_mrad,captorius3 acq_0 Channel_2_SSPALS Y_[V] t,captorius3 acq_0 Channel_2_SSPALS Y_[V] t_shape,captorius3 acq_0 Channel_2_SSPALS Y_[V] V,captorius3 acq_0 Channel_2_SSPALS Y_[V] V_shape
392101,"[150.2693581, 150.278129, 150.2885014, 150.322...",[19471],None,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None
387125,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4e-10, 8e-10, 1.2e-09, 1.6e-09, 2e-09, 2...",[5002],"[-0.0008000039000000001, -0.0001000039, -0.000...",[5002]
387124,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4e-10, 8e-10, 1.2e-09, 1.6e-09, 2e-09, 2...",[5002],"[-0.0005000039, -0.0008000039000000001, -0.000...",[5002]
387123,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4e-10, 8e-10, 1.2e-09, 1.6e-09, 2e-09, 2...",[5002],"[-0.0003000039, -0.0012000039000000001, -0.000...",[5002]
387122,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4e-10, 8e-10, 1.2e-09, 1.6e-09, 2e-09, 2...",[5002],"[-0.0006000039, -0.0006000039, -0.0007000039, ...",[5002]
387121,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4e-10, 8e-10, 1.2e-09, 1.6e-09, 2e-09, 2...",[5002],"[-0.0012000039000000001, -0.0006000039, -0.000...",[5002]
387117,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4e-10, 8e-10, 1.2e-09, 1.6e-09, 2e-09, 2...",[5002],"[-0.0009000039, -0.0002000039, -0.0005000039, ...",[5002]
387116,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4e-10, 8e-10, 1.2e-09, 1.6e-09, 2e-09, 2...",[5002],"[-0.0004000039, -0.0002000039, -0.0006000039, ...",[5002]
378939,None,None,"[[0.16290188390000002, 0.14135003440000002, 0....","[1024, 1344]",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378938,None,None,"[[-0.1332722537, -0.18105315430000002, -0.1261...","[1024, 1344]",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378937,None,None,"[[-0.0202889866, 0.1346435383, 0.0561902417000...","[1024, 1344]",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378936,None,None,"[[0.3905353078, 0.0262325833, 0.0328366417, 0....","[1024, 1344]",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378935,None,None,"[[0.4022420447, -0.0473822365, -0.225151128100...","[1024, 1344]",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378934,None,None,"[[0.11719679640000001, 0.1115987257, 0.1171967...","[1024, 1344]",NaN,NaN,NaN,NaN,NaN,None,None,None,None
373007,None,None,None,[],248066.962223,0.0,0.0,-9.0,0.0,None,None,None,None

In [22]:
import pandas as pd
import sqlalchemy
import re
import numpy as np

# function that selects all the data from alpaca database
def fetch_data(first_run=None, last_run=None):

    engine=sqlalchemy.create_engine("postgresql+psycopg2://postgres:admin@localhost/alpaca") # host.docker.internal instead of localhost for docker
    with engine.begin() as conn:
        if first_run is not None and last_run is not None:
            query = sqlalchemy.text("""SELECT * FROM alpaca
                            WHERE "Run_Number Run_Number __value" BETWEEN :first_run AND :last_run
                            ORDER BY "Run_Number Run_Number __value" DESC
                            """)
            df = pd.read_sql_query(query, conn, params={'first_run': first_run, 'last_run': last_run})
        else:
            query = sqlalchemy.text("""SELECT * FROM alpaca
                            ORDER BY "Run_Number Run_Number __value" DESC
                            """)
            df = pd.read_sql_query(query, conn)

    df.set_index('Run_Number Run_Number __value', inplace=True)

    # need to convert arrays saved as bytes back to arrays
    byte_columns = [column[:-6] for column in df.columns if column.endswith("_shape") is True and df[column].dtype == object]
    shape_columns = [f'{column}_shape' for column in byte_columns]
    print(byte_columns)
    print(shape_columns)
    one_dimensional_columns=[]
    two_dimensional_columns=[]

    for shape_column in shape_columns:
        column_name = shape_column[:-6]  # Extract the original column name
        df[shape_column] = df[shape_column].apply(lambda x: tuple(map(int, re.findall(r'\d+', x))) if pd.notnull(x) else None)  # Extract the shape values
        shape_column_values = df[shape_column].dropna()[df[shape_column].dropna() != ()]
        if not shape_column_values.empty:
            length = len(shape_column_values.iloc[0])
        else:
            length = 0
        if length == 1:
            one_dimensional_columns.append(column_name)
        elif length ==2:
            two_dimensional_columns.append(column_name)

    for column in byte_columns:
        shape_column = f'{column}_shape'
        df[column] = df.apply(lambda row: np.frombuffer(row[column]).reshape(row[shape_column]) if pd.notnull(row[column]) and pd.notnull(row[shape_column]) else None, axis=1)

    numerical_columns = df.select_dtypes(include='number').columns

    column_dic={'numerical_columns':numerical_columns,
            'one_dimensional_columns': one_dimensional_columns,
            'two_dimensional_columns': two_dimensional_columns}

    return df, column_dic