In [33]:
import sqlalchemy
import numpy as np
import pandas as pd
import re

engine=sqlalchemy.create_engine("postgresql+psycopg2://postgres:admin@localhost/alpaca")
with engine.begin() as conn:
    query = sqlalchemy.text("""SELECT * FROM alpaca
                            ORDER BY "Run_Number Run_Number __value" DESC
                            """)
    df = pd.read_sql_query(query, conn)

byte_columns = [column for column in df.columns if column.endswith("_shape") is False and df[column].dtype == object]
shape_columns = [f'{column}_shape' for column in byte_columns]

for shape_column in shape_columns:
    column_name = shape_column[:-6]  # Extract the original column name
    df[shape_column] = df[shape_column].apply(lambda x: tuple(map(int, re.findall(r'\d+', x))) if pd.notnull(x) else None)  # Extract the shape values

for column in byte_columns:
    shape_column = f'{column}_shape'
    df[column] = df.apply(lambda row: np.frombuffer(row[column]).reshape(row[shape_column]) if pd.notnull(row[column]) and pd.notnull(row[shape_column]) else None, axis=1)


# Print the modified DataFrame

df.set_index('Run_Number Run_Number __value',inplace=True)
df

,SC56_coinc event_clock,SC56_coinc event_clock_shape,5TCCD acq_2 background_corrected img_with_roi,5TCCD acq_2 background_corrected img_with_roi_shape,1TCMOS acq_0 background_corrected roi signal_sum_in_roi,ELENA_Parameters H_offset_mm,ELENA_Parameters V_offset_mm,ELENA_Parameters H_angle_mrad,ELENA_Parameters V_angle_mrad,captorius3 acq_0 Channel_2_SSPALS Y_[V] t,captorius3 acq_0 Channel_2_SSPALS Y_[V] t_shape,captorius3 acq_0 Channel_2_SSPALS Y_[V] V,captorius3 acq_0 Channel_2_SSPALS Y_[V] V_shape
Run_Number Run_Number __value,,,,,,,,,,,,,
392101,"[150.2693581, 150.278129, 150.2885014, 150.322...","(19471,)",None,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None
387122,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4.000000053405728e-10, 8.000000106811456...","(5002,)","[-0.0006000039138598368, -0.000600003913859836...","(5002,)"
387121,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4.000000053405728e-10, 8.000000106811456...","(5002,)","[-0.0012000038987025619, -0.000600003913859836...","(5002,)"
387117,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4.000000053405728e-10, 8.000000106811456...","(5002,)","[-0.0009000039062811993, -0.000200003923964686...","(5002,)"
387116,None,None,None,None,NaN,NaN,NaN,NaN,NaN,"[0.0, 4.000000053405728e-10, 8.000000106811456...","(5002,)","[-0.0004000039189122617, -0.000200003923964686...","(5002,)"
378939,None,None,"[[0.16290188393936278, 0.14135003435284177, 0....","(1024, 1344)",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378938,None,None,"[[-0.1332722537381248, -0.18105315434577307, -...","(1024, 1344)",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378937,None,None,"[[-0.02028898662377876, 0.1346435382734814, 0....","(1024, 1344)",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378936,None,None,"[[0.39053530775098144, 0.02623258327534983, 0....","(1024, 1344)",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378935,None,None,"[[0.40224204469945524, -0.047382236464824645, ...","(1024, 1344)",NaN,NaN,NaN,NaN,NaN,None,None,None,None
378934,None,None,"[[0.11719679637679858, 0.11159872565130269, 0....","(1024, 1344)",NaN,NaN,NaN,NaN,NaN,None,None,None,None
373007,None,None,nan,(),248066.962223,0.0,0.0,-9.0,0.0,None,None,None,None

In [36]:
data = df['5TCCD acq_2 background_corrected img_with_roi'][392101]

In [38]:
data.any()

AttributeError: 'NoneType' object has no attribute 'any'

In [39]:
df.columns

Index(['SC56_coinc event_clock', 'SC56_coinc event_clock_shape',
       '5TCCD acq_2 background_corrected img_with_roi',
       '5TCCD acq_2 background_corrected img_with_roi_shape',
       '1TCMOS acq_0 background_corrected roi signal_sum_in_roi',
       'ELENA_Parameters H_offset_mm', 'ELENA_Parameters V_offset_mm',
       'ELENA_Parameters H_angle_mrad', 'ELENA_Parameters V_angle_mrad',
       'captorius3 acq_0 Channel_2_SSPALS Y_[V] t',
       'captorius3 acq_0 Channel_2_SSPALS Y_[V] t_shape',
       'captorius3 acq_0 Channel_2_SSPALS Y_[V] V',
       'captorius3 acq_0 Channel_2_SSPALS Y_[V] V_shape'],
      dtype='object')

In [12]:
import pandas as pd
import sqlalchemy
import re
import numpy as np

# function that selects all the data from alpaca database

def fetch_data():

    engine=sqlalchemy.create_engine("postgresql+psycopg2://postgres:admin@localhost/alpaca")
    with engine.begin() as conn:
        query = sqlalchemy.text("""SELECT * FROM alpaca
                                ORDER BY "Run_Number Run_Number __value" DESC
                                """)
        df = pd.read_sql_query(query, conn)

    df.set_index('Run_Number Run_Number __value', inplace=True)

    # need to convert arrays saved as bytes back to arrays
    byte_columns = [column for column in df.columns if column.endswith("_shape") is False and df[column].dtype == object]
    shape_columns = [f'{column}_shape' for column in byte_columns]
    one_dimensional_columns=[]
    two_dimensional_columns=[]

    for shape_column in shape_columns:
        column_name = shape_column[:-6]  # Extract the original column name
        df[shape_column] = df[shape_column].apply(lambda x: tuple(map(int, re.findall(r'\d+', x))) if pd.notnull(x) else None)  # Extract the shape values
        lenght = len(df[shape_column].dropna()[df[shape_column].dropna() != ()].iloc[0])
        if lenght == 1:
            one_dimensional_columns.append(column_name)
        elif lenght ==2:
            two_dimensional_columns.append(column_name)

    for column in byte_columns:
        shape_column = f'{column}_shape'
        df[column] = df.apply(lambda row: np.frombuffer(row[column]).reshape(row[shape_column]) if pd.notnull(row[column]) and pd.notnull(row[shape_column]) else None, axis=1)

    numerical_columns = df.select_dtypes(include='number').columns

    return df, numerical_columns, one_dimensional_columns, two_dimensional_columns

In [13]:
df, numerical_columns, one_dimensional_columns, two_dimensional_columns = fetch_data()
all_columns=np.concatenate((numerical_columns,one_dimensional_columns, two_dimensional_columns))

In [28]:
from dash import html

def create_tree(items):
    
    trees = []
    first_words=[]
    words=[]

    for item in items:
        parts = item.split(' ')
        first_word = parts[0]
        if len(parts) < 2:
            words.append(first_word)
        else:
            rest_of_words = ' '.join(parts[1:])
            
            if first_word not in first_words:
                first_words.append(first_word)
                tree = html.Details([
                    html.Summary(first_word)
                ])
                tree.children.append(rest_of_words)
                trees.append(tree)
            else:
                tree=[tree for tree in trees if tree.children[0].children==first_word][0]
                tree.children.append(rest_of_words)

    if trees==[]:
        return html.Div(words)
    
    for tree in trees:
        children = tree.children[1:]
        tree.children = tree.children[:1]
        tree.children.append(create_tree(children))

    
    return html.Div(trees)

In [29]:
all_columns

array(['1TCMOS acq_0 background_corrected roi signal_sum_in_roi',
       'ELENA_Parameters H_offset_mm', 'ELENA_Parameters V_offset_mm',
       'ELENA_Parameters H_angle_mrad', 'ELENA_Parameters V_angle_mrad',
       'SC56_coinc event_clock',
       '5TCCD acq_2 background_corrected img_with_roi'], dtype=object)

In [30]:
create_tree(all_columns)

acq_0 background_corrected roi signal_sum_in_roi
H_offset_mm
V_offset_mm
H_angle_mrad
V_angle_mrad
event_clock
acq_2 background_corrected img_with_roi

Div([Details([Summary('1TCMOS'), 'acq_0 background_corrected roi signal_sum_in_roi', 'acq_0 background_corrected roi signal_sum_in_roi']), Details([Summary('ELENA_Parameters'), 'H_offset_mm', 'V_offset_mm', 'H_angle_mrad', 'V_angle_mrad', Div([Details([Summary('H_offset_mm'), '', '']), Details([Summary('V_offset_mm'), '', '']), Details([Summary('H_angle_mrad'), '', '']), Details([Summary('V_angle_mrad'), '', ''])])]), Details([Summary('SC56_coinc'), 'event_clock', 'event_clock']), Details([Summary('5TCCD'), 'acq_2 background_corrected img_with_roi', 'acq_2 background_corrected img_with_roi'])])